@import '../../../assests/styles/pallets.scss';

.custom-tabs.p-tabmenu.p-component {
    width: 100%;
}
.custom-tabs .p-tabmenu-nav {
    border-bottom: 1px solid #dfe6ed;
    background-color: #f6f9fc;
}

.custom-tabs .p-tabmenu-nav li {
    border-radius: 5px 5px 0 0;
    margin-right: 2px;
}

.custom-tabs .p-tabmenu-nav li.p-highlight .p-menuitem-link {
    background-color: #3f8bcc; 
    color: white !important;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

.custom-tabs .p-tabmenu-nav li .p-menuitem-link {
    color: black; 
}

.custom-tabs .p-tabmenu-nav li:hover .p-menuitem-link {
    color: #3f8bcc;
}

.input.p-inputtext .tabSearch{
    height: 20px !important;
    padding: 2px !important;
}
